<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <mat-card-title style="align-content: center"> {{ 'Table.Title' | translate}}</mat-card-title>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>

      <div class="mat-elevation-z8" *ngIf="tabledata !== undefined">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="position_1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{titleData[0].title | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
          </ng-container>

          <ng-container matColumnDef="position_2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{titleData[1].title | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
          </ng-container>

          <ng-container matColumnDef="position_3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{titleData[2].title | translate}}</th>
            <td mat-cell *matCellDef="let element">
            <div *ngFor="let book of element.bookName">
               {{book}} <br>
            </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="position_4">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{titleData[3].title | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.id}}</td>
          </ng-container>

          <ng-container matColumnDef="position_5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{titleData[4].title | translate}}</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button color="primary"
                      (click)="returnBook(element)">
                Return Book
              </button>
            </td>
          </ng-container>
          

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
